

#container {
    height: 670px;
    width: 100%;
    position: relative;
    padding: 30px;
    border-radius: 30px;
    background: linear-gradient(30deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    border: 1px solid rgba(255, 255, 255, 0.9);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

/* header */
#header {
    height: 100px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    border-radius: 30px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.5));
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#header a {
    height: 100px;
    width: 90px;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    text-decoration: none;
    color: #c72f2e;
    font-size: 20px;
}

#header p{
    font-weight: 300;
    font-size: 12px;
    width: 51px;
    padding: 3px 7px;
    background-color: green;
    border-radius: 15px;
    color: white;
}

/* profile */
#header #profileImage {
    height: 60px;
    width: 60px;
    border: 2px solid #3d3399;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 90px;
}

#header #profileImage img {
    width: 58px;
    height: 58px;
}

/* details */
#header #userDetail {
    position: absolute;
    left: 170px;
    top: 20px;
}

/* name */
#header #userDetail #name {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 5px 0;
    color: #c72f2e;
}

#mainSection {
    height: 450px;
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    overflow-y: auto;
    padding: 30px;
    word-wrap: break-word;
}
#mainSection #errors{
    font-size: 17px;
    padding: 10px 35px;
    text-align: center;
}

#mainSection .request {
    min-height: 80px;
    max-width: 75%;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.4));
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}

#mainSection .request .name,
#mainSection .response .name {
    font-size: 16px;
    color: #c72f2e;
}

#mainSection .request .name {
    color: #3d3399;
}

#mainSection .request .messages {
    font-size: 15px;
}

#mainSection .responseCard {
    min-height: 50px;
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: flex-end;
}

#mainSection .responseCard .response {
    min-width: 50px;
    max-width: 40%;
    height: 10%;
    background-color:#fff;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    border-radius: 10px;
    word-wrap:break-word;
}

div.request.incoming{
    background-color:#fff !important;
}

@media(max-width:650px){
    div.request.incoming{
    background-color:#fff !important;
    min-width:45%;
}
}

/* messages input field */
#messagingTypingSection {
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
}

#messagingTypingSection #typingField {
    height: 50px;
    width: 89%;
    border: none;
    outline: none;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 8px 0;
    padding: 0 20px;
    font-size: 15px;
    box-shadow: 1px 1px 6px #00000013, -1px -1px 6px #e6336f13;
    border-radius: 7px;
    color: #000;
    position: absolute;
    left: 30px;
    margin-left: 50px;
}

#messagingTypingSection #typingField::placeholder {
    color: #000;
}

#messagingTypingSection #sendMessage {
    height: 35px;
    width: 40px;
    border: none;
    outline: none;
    color: #fff;
    background: #3d3399;
    margin: 0px 15px;
    /* padding: 0px 20px; */
    font-size: 18px;
    border-radius: 10px;
    position: absolute;
    right: 44px;
    cursor: pointer;
}

/* customizing scroll bar */
#mainSection::-webkit-scrollbar {
    background: transparent;
}

#mainSection::-webkit-scrollbar-track {
    width: 40px;
}

#mainSection::-webkit-scrollbar-thumb {
    height: 40px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 30px;
}
#messagingTypingSection .setId
{
    display: none;
}

.custom-icon1{
    color: black;
    background-color: transparent;
    padding: 0.313rem 0.625rem;
    font-size: 1rem; 
    cursor: pointer;
    margin-left:25px;
}

.custom-icon2{
    color: black;
    background-color: transparent;
    padding: 0.313rem 0.625rem;
    font-size: 1rem; 
    cursor: pointer;
}

.videocall{
    width:50px;
    height:50px;
    right:10px;
}

/* Mobile responsive */
@media (max-width: 768px) {
    #messagingTypingSection #typingField {
        width: 78%;
        margin-left: 23px;
    }

    #messagingTypingSection #sendMessage {
        height: 33px;
        width: 36px;
        right: 4px;
    }

    .custom-icon1 {
        margin-left: 5px;
    }

    #header a {
        font-size: 16px;
        left: -23px;
    }

    #header #profileImage {
        left: 45px;
    }

    #header #userDetail {
        left: 120px;
    }
}