* {
    font-family: Roboto, sans-serif !important;
}

#root {
    width: 100vw;
    height: 100vh;
}

.OnM6HeTlQWGTYHS3GD11 {
    display: none !important;
}

.VsTVUAD89KWleD0YRVsD {
    background: #5047a3 !important;
}

.VsTVUAD89KWleD0YRVsD:hover {
    background: #3d3399 !important;
}

.QajuHzlZleFtiTUp_E8u .pOvRwHj19chJGkgemUH3 ._M8cCug8H18ALQ05cNMt {
    font-family: Roboto, sans-serif !important;
}

.QajuHzlZleFtiTUp_E8u .TYiiRFB3EhYJGVPE4k4q:hover,
.QajuHzlZleFtiTUp_E8u .TYiiRFB3EhYJGVPE4k4q:focus,
.QajuHzlZleFtiTUp_E8u .TYiiRFB3EhYJGVPE4k4q:active,
.QajuHzlZleFtiTUp_E8u .TYiiRFB3EhYJGVPE4k4q:focus-visible {
    border: 1px solid #bc2d75 !important;
}

.VNZilENM9Pb7KbRFOkYR {
    background: #dcdaec;
}

.gWzRvax8CjHIpjuL09nE>div {
    border: 2px solid #bc2d75 !important;
    background-color: #3d3399 !important;
}

.QajuHzlZleFtiTUp_E8u .gWzRvax8CjHIpjuL09nE>div {
    background-color: #3d3399 !important;
}

.qJdF_iTl1gv6JkFZmE2R .tQCB5Tj6hsWzMNzTg5og {
    background: #3d3399 !important;
}

.vjwEXnTmP6jAK8LlvWL_>div {
    background-color: #bc2d75 !important;
}

.vjwEXnTmP6jAK8LlvWL_ .QeMJj1LEulq1ApqLHxuM {
    width: 65px !important;
    background-color: #eb1e1e !important;
}

.xM8CBkrn0wtFOdOP84Bb button[disabled] {
    background-color: #3d3399 !important;
}

.xM8CBkrn0wtFOdOP84Bb button {
    background-color: #bc2d75 !important;
}

.z_Raef7MoQTTp7fHENMF .yZqd3D1to9HjAdrmztDe p {
    background-color: #f8eaf1 !important;
    color: black !important;
    font-weight: 600 !important;
}

._XRS2rWR1HN9YsjmOPmm .TTgLs8cpg66Z6CXgHGVA {
    color: #fff;
    background-color: #3d3399 !important;
    border: 1px solid #3d3399 !important;
}

._XRS2rWR1HN9YsjmOPmm .nRumfFQWv_1Hnf9jP5qZ {
    color: #3d3399 !important;
}

._XRS2rWR1HN9YsjmOPmm .nRumfFQWv_1Hnf9jP5qZ:hover {
    border: 1px solid #3d3399 !important;
}

.Xfk1RtGH65gHx0iQ5uPA .r3HPjZdCMGExa7S5X10Z>span {
    background-color: #bc2d75 !important;
}

.j9ygOVxEl2nClTPs77Ta {
    background: linear-gradient(to right, #3d3399, #bc2d75) !important;
}

.j9ygOVxEl2nClTPs77Ta .IughcowXVrJ5wcOf6vH9 {
    background: #3d3399 !important;
}

.j9ygOVxEl2nClTPs77Ta .mCx2N1NwuMWObjjTeG0q {
    color: #3d3399 !important;
}

.zzHlKp_IVmgXBPV3Jv58 {
    background-color: rgb(156, 156, 156) !important;
}

.TYiiRFB3EhYJGVPE4k4q {
    border: 2px solid #bc2d75 !important;
}